.footer {
  padding-bottom: 40px;
  @include xxs {
    padding-bottom: 66px;
  }
  &__top {
    display: flex;
    @include xs {
      flex-direction: column;
    }

    @include xxs {
      flex-direction: column-reverse;
    }
  }

  &__logo {
    align-self: flex-end;
    margin-right: 60px;
    flex: 0 0 146px;
    @include xs {
      flex: 0 1 auto;
      width: 146px;
      margin-right: 0;
      align-self: flex-start;
      margin-bottom: 70px;
    }

    @include xxs {
      width: 100px;
      margin-bottom: 0;
    }
  }

  &__title {
    @include xxs {
      margin-bottom: 50px;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 110px;
    justify-content: flex-end;
    @include sm {
      gap: 70px;
    }

    @include xs {
      grid-template-columns: 444px;
    }

    @include xxs {
      grid-template-columns: 1fr;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__address,
  &__tel,
  &__mail {
    margin-bottom: 10px;
  }

  &__tel,
  &__mail {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 1px;
      width: 0;
      background-color: var(--light-color);
      transition: width 0.2s ease-in;
    }
    &:hover::after {
      width: 100%;
      transition: width 0.2s ease-in;
    }
  }
  &__time {
    margin-bottom: 60px;
    @include xs {
      margin-bottom: 40px;
    }
  }
}
