<footer class="footer pt-200">
  <div class="container">
    <div class="footer__top mb-120">
      <a href="#" class="footer__logo">
        <img src="img/footer-logo.svg" alt="Logo" />
      </a>
      <h2 class="footer__title section-title section-title_wide">
        Welcome to Noble Nectars, where the allure of exquisite wines awaits
      </h2>
    </div>
    <div class="footer__bottom">
      <div class="footer__col">
        <address class="footer__address footer-text">
          52 Martin Ferry North Paula KA1 3TU
        </address>
        <div class="footer__time footer-text">
          Opening times today: 10am - 7pm
        </div>
        <a href="tel:+440364879581" class="footer__tel footer-text"
          >+44(0)3648 79581</a
        >
        <a href="mailto:noblenectars@gmail.com" class="footer__mail footer-text"
          >noblenectars@gmail.com</a
        >
        <span class="footer__loc footer-text">London, UK</span>
      </div>
      <div class="footer__col">
        <address class="footer__address footer-text">
          80 Adams Keys East Ethan ML3 8PH
        </address>
        <div class="footer__time footer-text">
          Opening times today: 10am - 7pm
        </div>
        <a href="tel:+440037895732" class="footer__tel footer-text"
          >+44(0)0378 95732</a
        >
        <a
          href="mailto:noblenectars.adams@gmail.com"
          class="footer__mail footer-text"
          >noblenectars.adams@gmail.com</a
        >
        <span class="footer__loc footer-text">London, UK</span>
      </div>
    </div>
  </div>
</footer>
